/* Start Global Variables */
:root {
  --main-color: #0f866c;
  --font-color: #001e2f;
}
/* End Global Variables */

/* Start Global rules */

* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  padding: 20px 30px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 300;
  width: fit-content;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  margin-top: 5px;

  i {
    font-size: 0.75rem;
  }
}

a:last-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}

/* meduim */
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */

.bg-image {
  background-image: url("../images/homepage.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}

/* Start header */
header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container {
  img {
    width: 150px;
  }

  div.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      margin: 0 5px;
    }
    :last-child {
      align-self: flex-end;
    }
  }
}

@media (max-width: 425px) {
  header .container {
    div.lang {
      :not(:first-child) {
        display: none;
      }
    }
  }
}

/* End header*/

/* Start landing section */

.landing {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;

    h1 {
      font-size: 5rem;
      margin: 0;
      font-family: serif;
      font-weight: bold;
      color: var(--font-color);
    }

    p:first-of-type {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--font-color);
    }

    p:last-of-type {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.7rem;
      color: var(--font-color);
      margin-top: 20px;
    }
  }

  .image {
    align-self: stretch;
    flex-basis: 100%;
    display: flex;
    background-image: url(../images/homepage-people.avif);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .landing .container {
    width: max-content;
  }
  .landing .container .home {
    h1 {
      font-size: 4rem;
    }

    p:first-of-type {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 767px) {
  .landing .container .home {
    h1 {
      font-size: 3rem;
    }

    p:first-of-type {
      font-size: 1rem;
    }
  }
}

@media (max-width: 545px) {
  .landing .container .home {
    h1 {
      font-size: 1.7rem;
    }

    p:first-of-type {
      font-size: 0.7rem;
    }
  }
}
/* End landing section */

/* Start Features */

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    margin-left: 100px;
    img {
      max-width: 65%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .text {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    padding: 0 15px;

    h3 {
      font-size: 2rem;
      color: var(--font-color);
    }

    p {
      line-height: 1.8;
    }

    .btn {
      align-self: flex-start;
    }

    .icon {
      display: inline-block;
      font-size: 30px;
      text-align: center;
      i {
        background-color: #eee;
        padding: 10px;
        width: calc(100% / 4 - 8px);
      }
    }

    a {
      display: initial;
      margin-left: initial;
      margin-right: initial;
    }
  }
}

.features .card:nth-child(2) {
  flex-direction: row-reverse;
}

@media (max-width: 991px) {
  .features .card,
  .features .card:nth-child(2) {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .features .card {
    .image,
    .text {
      margin: 0;
    }
  }
}

.features .grid-card {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  .special-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
    p {
      text-align: center;
    }
  }
}
/* End Features */

/* Start footer */

footer {
  background-image: url("../images/world.avif");
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    h2 {
      font-size: 2.5rem;
      flex-basis: 100%;
      text-align: center;
    }

    span:nth-of-type(odd) {
      font-size: 4rem;
      font-weight: bold;
      font-family: cursive;
    }

    span:nth-of-type(even) {
      font-size: 1rem;
      font-weight: bold;
      font-family: cursive;
    }

    span:last-of-type {
      font-size: 1em;
    }
  }
}

@media (max-width: 768px) {
  footer .container {
    h2 {
      font-size: 1.7rem;
    }

    span:nth-of-type(odd) {
      font-size: 2rem;
    }

    span:last-of-type {
      font-size: initial;
    }
  }
}
/* End footer */
